---
import { Container } from './container';
---

<Container>
  <section class="hero">
    <img alt="Converto Logo" class="logo" src="/logo.svg" />
    <h1>Conv<span>erto</span></h1>
    <p>Dead simple unit converter.</p>
  </section>
</Container>

<style>
  .hero {
    padding: 100px 0 40px;
    text-align: center;

    .logo {
      display: block;
      height: 40px;
      margin: 0 auto 12px;
    }

    & h1 {
      font-family: var(--font-display);
      font-size: var(--font-lg);
      font-weight: 700;
      color: var(--color-foreground);

      & span {
        background: linear-gradient(
          135deg,
          var(--color-foreground),
          var(--color-foreground-subtle)
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    & p {
      margin-top: 4px;
      color: var(--color-foreground-subtle);
    }
  }
</style>
